/*---------------------------------------------------------------------- /
Table of Contents
------------------------------------------------------------------------ /
* 1.0 - Home Button Transitions
* 2.0 - Page Transitions
------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 1.0 - Home Button Transitions
------------------------------------------------------------------------*/
.hBut-appear {
    left: -100px;
    opacity: 0;
}
.hBut-appear-active {
    left: 0;
    opacity: 1;
    transition: all 700ms ease-out;
}
/* 1.0 - End Home Button Transitions
------------------------------------------------------------------------*/


/* 2.0 - Page Transitions
------------------------------------------------------------------------*/
.page-appear{
    opacity: 0;
}
.page-appear-active{
    opacity: 1;
    transition: opacity 300ms ease-out;
}
.page-enter{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0; 
}
.page-enter-active{
    opacity: 1; 
    transition: opacity 300ms linear;
}
.page-leave{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 1; 
}
.page-leave-active{
    opacity: 0; 
    top: 0;
    transition: opacity 300ms linear;
}

/* 2.0 - End Page Transitions
------------------------------------------------------------------------*/
.err-appear{
    background-color: #e54053;
}
.err-appear-active{
    background-color: white;
    transition: background-color 1.5s ease-out;
    animation: jiggle 1s forwards;
}
@keyframes jiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}