@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i');
/*---------------------------------------------------------------------- /
Table of Contents
------------------------------------------------------------------------ /
* 1.0 - Body styles
* 2.0 - Header
*	3.0 - Common Text styles
* 	3.1 - General text styles
* 	3.2 - Title styles
* 	3.3 - Heading styles
* 4.0 - Other Components
*   4.1 - Modal size styles
*   4.2 - Settings page styles
*   4.3 - Button
------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 1.0 - Body Styles
------------------------------------------------------------------------*/
/*@font-face {
    font-family: "Avenir";
    src: url('../public/fonts/Avenir/AvenirNextLTPro-Regular.woff2')
}*/



@font-face {
    font-family: "Montserrat";
    src:
    url('../public/fonts/Montserrat/montserrat.regular.ttf') format("ttf"),
    url('../public/fonts/Montserrat/montserrat.regular-webfont.woff')  format("woff2");
}
@font-face {
    font-family: "Montserrat-Bold";
    src:
    url('../public/fonts/Montserrat/montserrat.bold.ttf') format("ttf"),
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src:
    url('../public/fonts/Montserrat/Montserrat-SemiBold.otf') format("otf")
}
@font-face {
    font-family: "Montserrat-Medium";
    src:
    url('../public/fonts/Montserrat/Montserrat-Medium.otf') format("otf")
}


body{
    font-family: "Avenir";
    min-width: 275px;
    background-color: #f0f0f0;
}

html::-webkit-scrollbar {
    display: none;
}
/* 1.0 - End Body Styles
------------------------------------------------------------------------*/

/* 2.0 - Header
------------------------------------------------------------------------*/


#header{
    z-index: 4000;
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
}


.sub-menu a {
    margin-left: 4px;
    color: grey !important;
    font-size: 12px !important;
}
/* 2.0 - End Header
------------------------------------------------------------------------*/

/* 3.0 - Common Text styles
------------------------------------------------------------------------*/
/* 3.1 - General text styles
-------------------------------------------------*/
.genText {
    font-family:avenir-lt-w01_35-light1475496;
    color: white;
}
.montserrat-reg {
  font-family:'Montserrat', sans-serif;
  color: white;
}
.montserrat-reg-i {
  font-family:'Montserrat', sans-serif;
  font-style: italic;
  color: white;
}
.montserrat-med {
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
}
.montserrat-med-i {
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: white;
}
/* 3.1 - End General text styles
-------------------------------------------------*/
/* 3.2 - Title styles
-------------------------------------------------*/
.titles {
    color: white;
    font: normal normal normal 40px/1.4em spinnaker,sans-serif;
    margin: 0;
    text-align: left;
}
/* 3.2 - End Title styles
-------------------------------------------------*/
/* 3.3 - Heading styles
-------------------------------------------------*/
.heading{
    font: normal normal normal 16px/1.4em spinnaker,sans-serif;
}

label[data-error]:after{
  white-space: nowrap;
}

/* 3.3 - End Heading styles
-------------------------------------------------*/
/* 3.0 - End Common Text styles
------------------------------------------------------------------------*/

.toBold {
    font-weight: bold;
}
.size-13 {
  font-size: 18px;
}
input[type="text"]+label[data-error]:after
 {
    display:inline-block !important;
    white-space: nowrap;
    font-size: 13px;
    top: 1.7rem !important;
    transition: none !important;
}
input[type="text"].invalid+label[data-error].active:after,
input[type="text"]:focus+label[data-error]:after{
    display:inline-block !important;
    white-space: nowrap;
    font-size: 16.2px;
    top: 4.4rem !important;
    transition: none !important;
}
input[type="password"]+label[data-error]:after
 {
    display:inline-block !important;
    white-space: nowrap;
    font-size: 13px;
    top: 1.7rem !important;
    transition: none !important;
}
input[type="password"].invalid+label[data-error].active:after,
input[type="password"]:focus+label[data-error]:after{
    display:inline-block !important;
    white-space: nowrap;
    font-size: 16.2px;
    top: 4.4rem !important;
    transition: none !important;
}
[data-tooltip]{
    white-space: pre;
}
@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir/AvenirNextLTPro-Regular.woff2") format("woff2");
}

[data-tooltip]{
    white-space: pre;
}
@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir/AvenirNextLTPro-Regular.woff2") format("woff2");
}

@media only screen and (max-width:600px) {
  .ec{
    flex-direction: column !important;
  }
}
#page {
  background: #FFF;
  padding: 20px;
  margin: 20px;
}

#demo-basic {
  width: 400px;
  height: 400px;
}

.dark-gray {
  color: "6A6A6A"
}


/* 4.0 - Other Components
------------------------------------------------------------------------*/
/* 4.1 - Modal size styles
-------------------------------------------------*/
.modal { width: 75% !important ; max-height: 100% !important ; overflow-y: hidden !important ;}

/* 4.1 - Modal size styles
-------------------------------------------------*/
/* 4.2 - Settings page styles
-------------------------------------------------*/
#subscription {
    height: 60vh;
    padding: 10px 5%;
    margin: 0 auto;
}

.lowercase {
    text-transform: none;
}

#payment .btn {
    width: 100%
}

#payment {
    padding: 10px 60px;
}

#agreement {
    margin-Top: 20px;
    font-style: italic;
    color: #888888;
}
/* 4.2 - End of Settings page styles
-------------------------------------------------*/
/* 4.3 - Button
-------------------------------------------------*/
.button {
	height: 76px;
	border: 3px;
	border-radius: 10px;
  padding: 12px 0 12px 0;
}
.button-sh {
  height: 55px;
	border: 3px;
	border-radius: 10px;
  padding: 12px 0 12px 0;
}
.fill-dark-gray {
  background-color: #4A4A4A
}
.fill-white {
  background-color:  white;
}
.fill-green {
  background-color: #10a96d;
}
.txt {
  text-align: center;
}
.txt-white {
  color: white;
}

.txt-green {
  color: #10a96d;
}

/* 4.3 - Button
-------------------------------------------------*/
