/*---------------------------------------------------------------------- /
Table of Contents
------------------------------------------------------------------------ /
* 1.0 - Hero Section
* 	1.1 - Hero
* 	1.2 - Buttons
* 2.0 - How It Works
* 	2.1 - Step
* 	2.2 - Step Img
* 	2.3 - Step Text
*	3.0 - Our Story
------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 1.0 - Hero Section
------------------------------------------------------------------------*/
/* 1.1 - Hero
-------------------------------------------------*/
#hero{
    background-image: url('/images/heroBG.jpg');
    background-size: cover;
    background-position: center center;
    height: 50vmin;
    min-height: 500px;
}
/* 1.1 - End Hero
-------------------------------------------------*/
/* 1.2 - Buttons
-------------------------------------------------*/
.hBut{
    text-align: center;
    padding: 12px 0 12px 0;
}
.hBut:visited{
    color: white;
}
/*
.hBut:hover{
    border-color: burlywood;
    background-color: burlywood;
    transition: all 200ms ease-in;
}
*/
/* 1.2 - End Buttons
-------------------------------------------------*/
/* 1.0 - End Hero Section
------------------------------------------------------------------------*/

/* 2.0 - How It Works
------------------------------------------------------------------------*/
/* 2.1 - Step
-------------------------------------------------*/
.step{
    text-align: center;
}
/* 2.1 - End Step
-------------------------------------------------*/
/* 2.2 - Step img
-------------------------------------------------*/
.step img{
    margin: auto;
    display: block;
    width: 100%;
    max-width:172px;
}
/* 2.2 - End Step img
-------------------------------------------------*/
/* 2.3 - Step text
-------------------------------------------------*/
.step h6{
    font: normal normal normal 22px/1.4em spinnaker,sans-serif;
}
.step p{
    font-family: spinnaker,sans-serif;
}
/* 2.3 - End Step text
-------------------------------------------------*/
/* 2.0 - End How It Works
------------------------------------------------------------------------*/

/* 3.0 - Our Story
------------------------------------------------------------------------*/
#our-story{
    background-image: url('/images/worker.jpg');
    background-position: center center;
    background-size: cover;
    padding: 40px 0 40px 0;
}
/* 3.0 - End Our Story
------------------------------------------------------------------------*/
