/*---------------------------------------------------------------------- /
Table of Contents
------------------------------------------------------------------------ /
* 1.0 - Nav Bar Styles
* 	1.1 - Buttons
* 2.0 - Testimonial
* 	2.1 - Card Content
* 	2.2 - Step Img
* 	2.3 - Step Text

------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 1.0 - Nav Bar Styles
------------------------------------------------------------------------*/
/* 1.1 - Buttons
-------------------------------------------------*/
#rec-but{
	height:  47px;
  width: 130px;
  border: 2px solid white;
  border-radius: 15px;
	position: absolute;
	right: 15px;
}
      #rec-but__full {
        background-color: white;
      }

/* 1.0 - Buttond
-------------------------------------------------*/

/* 2.0 - Nav Bar Styles
------------------------------------------------------------------------*/
/* 2.1 - Buttons
-------------------------------------------------*/
#rec-full-but{
  border-radius: 40%;
  background-color: white;
}
/* 1.0 - Buttond
-------------------------------------------------*/


/* 2.0 - Card Content
------------------------------------------------------------------------*/
/* 1.1 - Card Content
-------------------------------------------------*/
.card-center {
	align-content: center;
}
