/*---------------------------------------------------------------------- /
Table of Contents
------------------------------------------------------------------------ /
* 1.0 - Nav Bar Styles
* 	1.1 - Buttons
* 2.0 - Testimonial
* 	2.1 - Card Content
* 	2.2 - Step Img
* 	2.3 - Step Text

------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 1.0 - Nav Bar Styles
------------------------------------------------------------------------*/
/* 1.1 - Buttons
-------------------------------------------------*/
#rec-but{
  border: 2px solid white;
  border-radius: 15px;
	margin-left: 5px;
}
#rec-but__full {
  background-color: white;
}

/* 1.0 - Buttond
-------------------------------------------------*/

/* 2.0 - Nav Bar Styles
------------------------------------------------------------------------*/
/* 2.1 - Buttons
-------------------------------------------------*/
#rec-full-but{
  border-radius: 40%;
  background-color: white;
}
/* 1.0 - Buttond
-------------------------------------------------*/


/* 2.0 - Card Content
------------------------------------------------------------------------*/
/* 1.1 - Card Content
-------------------------------------------------*/
.card-center {
	align-content: center;
}
.nav-bar-text{
	font-size: 1em;
}
.nav-bar-heading{
	font-size: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.nav-bar-text{
		font-size: .9em;
	}
	.nav-bar-heading{
		font-size: 1em;
	}
}

.imgscale {
    max-width: 50%;
    height: auto;

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.nav-bar-text{
		font-size: 1.0em;
	}
	.nav-bar-heading{
		font-size: 1.1em;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.nav-bar-text{
		font-size: 1.1em;
	}
	.nav-bar-heading{
		font-size: 1.4em;
	}

  .container-space {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 992px) {
	.nav-bar-text{
		font-size: 1.2em;
	}
	.nav-bar-heading{
		font-size: 1.7em;
	}
  .container-space {
    padding-left: 10px;
  }

}
