/*---------------------------------------------------------------------- /
Table of Contents
------------------------------------------------------------------------ /
* 1.0 - Shared
* 	1.1 - Top Green Bar
* 	1.2 -
* 2.0 - Contractor Profile
* 	2.1 -
* 	2.2 -
*	3.0 - Professional Profile
------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 1.0 - Shared
------------------------------------------------------------------------*/
/* 1.1 - Top Green Bar
-------------------------------------------------*/
.dark-gray-div {
  height: 10;
  background-color: #565656;
  margin-bottom: 0 !important;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* 1.1 - End Top Green Bar
-------------------------------------------------*/
/* 1.2 - Gray Div
-------------------------------------------------*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}
#render-target{
      height: 100vmin;
      min-height: 100%;
}
/*
custom scrollbar
*/
/* width */
::-webkit-scrollbar {
    width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
     border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
  }
