#hero{
    background-image: url('/images/carpet.jpg');
    background-size: auto 100vmax;
    background-position: center center;
    background-attachment: fixed;
    height: 60vmin;
    min-height: 500px;
}
#herofaq{
    background-image: url('/images/heroBG.jpg');
    background-size: auto 100vmax;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    min-height: 528px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


.heading{
    font: normal normal normal 16px/1.4em spinnaker,sans-serif;

}
.hBut{
    text-align: center;
    padding: 12px 0 12px 0;
}
.hBut:visited{

}

.hBut:hover{
    /*border-color: burlywood;*/
    /*background-color: burlywood;*/
    transition: all 200ms ease-in;
}
.hBut-appear {
    left: -100px;
    opacity: 0;
}

.hBut-appear-active {
    left: 0;
    opacity: 1;
    transition: all 700ms ease-out;
}
